<style type="text/css">
  .content {
    background-image: url(<%= asset_path 'a.jpg' %>);
    height: 100%;
    width: 100%;
  }

  body {
    background-color: grey;
  }
</style>

<div class="content">
</div>

<a onclick="generate()">Generate</a>

<script type="text/javascript">
  function generate(){
    $.ajax({
      url: 'images/tohtml',
      type: 'post',
      data: {content: "这是一段话"},
      dataType: 'json',
      success: function(result){
        console.log(result)
      }
    })
  }

  window.load = function() {
    window.status = 'render-image';
  }
</script>
