<style type="text/css">
  .content {
    height: 1142px;
    width: 1600px;
    background-image: url(<%= asset_path("c.jpg")%>)
  }
  /*.content {
    width: 1000px;
    height: 1000px;
    backgroud-color: red;
  }*/
</style>
<div class="content">
  <p style="">asdasdas</p>
</div>

<a onclick="generate()">Generate</a>

<script type="text/javascript">
  function generate(){
    $.ajax({
      url: 'images/tohtml',
      type: 'post',
      data: {content: "这是一段话"},
      dataType: 'json',
      success: function(result){
        console.log(result)
      }
    })
  }

  window.status = "IMAGE"
</script>
